.footer {
	background-color: #f5f5f5;
	padding: 2rem 2%;
	margin-top: 40px;

	.footerBottom {
		border-top: 1px solid #c1c1c1;
		padding-top: 20px;
	}
}

#stickyFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
}