//==============================================================
// TRANSITION MIXIN 
// Usage: a { @include transition(color .3s ease); }
//==============================================================
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

//==============================================================
// CONVERT PIXELS TO EMS
// Usage: font-size: em(24,16);
//==============================================================
@function em($target, $context: $base-font-size) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0em;
}

//==============================================================
// MEDIA QUERY BREAKPOINTS
// Usage: @include bp(mobile) {}
//==============================================================
@mixin bp($point) {
    @if $point == x-large-desktop  {
        @media only screen
        and (min-width: 1201px)
        { @content; }
    }
    @if $point == large-desktop  {
        @media only screen
        and (max-width: 1200px)
        { @content; }
    }
    @else if $point == desktop  {
        @media only screen
        and (max-width: 992px)
        { @content; }
    }
    @else if $point == small-desktop-nav  {
        @media only screen
        and (max-width: 825px)
        { @content; }
    }
    @else if $point == tablet {
        @media only screen
        and (max-width: 768px)
        { @content; }
    }
    @else if $point == mobile {
        @media only screen
        and (max-width: 480px)
        { @content; }
    }
    // @if $point == x-large-desktop  {
    //     @media (min-width: 2000px)
    //     { @content; }
    // }
    // @else if $point == large-desktop  {
    //     @media (min-width: 1180px)
    //     { @content; }
    // }
    // @else if $point == desktop  {
    //     @media (min-width: 980px)
    //     and (max-width: 1179px)
    //     { @content; }
    // }
    // @else if $point == small-desktop  {
    //     @media (min-width: 768px)
    //     and (max-width: 979px)
    //     { @content; }
    // }
    // @else if $point == tablet {
    //     @media (max-width: 767px)
    //     { @content; }
    // }
    // @else if $point == tabletP {
    //     @media (max-width: 767px)
    //     and (orientation : portrait)
    //     { @content; }
    // }
    // @else if $point == tabletL {
    //     @media (max-width: 767px)
    //     and (orientation : landscape)
    //     { @content; }
    // }
    // @else if $point == ipad {
    //     @media only screen
    //     and (min-device-width : 768px)
    //     and (max-device-width : 1024px)
    //     { @content; }
    // }
    // @else if $point == ipadL {
    //     @media only screen
    //     and (min-device-width : 768px)
    //     and (max-device-width : 1024px)
    //     and (orientation : landscape)
    //     { @content; }
    // }
    // @else if $point == ipadP {
    //     @media only screen
    //     and (min-device-width : 768px)
    //     and (max-device-width : 1024px)
    //     and (orientation : portrait)
    //     { @content; }
    // }
    // @else if $point == iphone {
    //     @media only screen
    //     and (min-device-width : 320px)
    //     and (max-device-width : 568px)
    //     { @content; }
    // }
    // @else if $point == mobile {
    //     @media (max-width: 590px)
    //     { @content; }
    // }
    //
    //

}