h1, h2, h3, h4, h5, h6 {

}

h1 {
	font-size: em(52,16);
}

h2 {
	font-size: em(42,16);
}

h3 {
	font-size: em(26,16);
}

h4 {
	font-size: em(24,16);
}

h5 {
	font-size: em(22,16);
}

h6 {
	font-size: em(20,16);
}

p {

}

ul, ol {

	li {

	}
}

form {

	input,
	textarea {

	}

	input {

	}

	textarea {

	}
}

a,
button {
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;

	&:hover {
		
	}
}

