#batch {
	display: block;
	margin: 20px 0;
	padding: 20px;
	background: white;
	overflow: hidden;
}

#batch .row {
	display: block;
	margin-bottom: 20px;
}

#batch .row label {
	display: block;
	margin-bottom: 10px;
}

#batch .row input,
#batch .row select {
	display: block;
	width: 100%;
}

#batch .col-6 {
	width: 48%;
	display: inline-block;
	float: left;
}

#batch .col-6:nth-of-type(even) { 
	float: right;
}

#batch .row input#checkBox {
	width: auto;
}

.clearfix {
	clear: both;
}

.process {
	color: #c9c561;
}

.message {
	background: #3eb42b;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

.message a {
	text-decoration: none;
	border-bottom: 2px solid;
	color: white;
}

#batchOptions textarea {
	width: 100%;
}